<!DOCTYPE Html>
<html>
    <head>
        <title>
            Project x
        </title>
        <link rel="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="projectx.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        

    </head>
    <body>

      <div>



        


            <div class="maindiv">
    
    
                <div class="inner1">
                    <a href="whatsapp://send?text=Hello World!&phone=23424234"> WhatsApp</a>
        
                </div>
    
    
    
                <div class="inner2">
    
                    <a href="#">Home</a>
                    <a href="#">Gallery</a>
                    <a href="#">Contact</a>
                   
    
                </div>
    
    
    
    
                <div class="inner3">
    
    
                    <a href="#">CheckOut</a>
                    
    
                </div>
    
    
            </div>


            <div class="main03">


                <div class="inner10">
                    <p class="p1">
                        HELLO
                    </p>

                    <P class="p2">


                    </P>
                </div>


                <div class="inner11">
                    
                </div>




            </div>
    
    
    
           </div>
    
    



      
      
       
    </body>
</html>